<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="CRMOnlineCRUD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <CRMOnlineCRUD.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value>update.inventory</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>mayankfabrics</value>
            </setting>
            <setting name="BhaskarPacklistSavePath" serializeAs="String">
                <value>D:\Packlist\Bhaskar\Unprocessed\</value>
            </setting>
            <setting name="ErrorLog" serializeAs="String">
                <value>D:\Packlist\Errors\</value>
            </setting>
            <setting name="BhaskarProcessedLocation" serializeAs="String">
                <value>D:\Packlist\Bhaskar\Processed\</value>
            </setting>
            <setting name="EmailTo" serializeAs="String">
                <value>mayank.gadodia87@gmail.com</value>
            </setting>
            <setting name="EmailFrom" serializeAs="String">
                <value>update.inventory@gmail.com</value>
            </setting>
        </CRMOnlineCRUD.Properties.Settings>
    </userSettings>
</configuration>
