<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DownloadMailAttachments.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DownloadMailAttachments.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value>update.inventory</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>mayankfabrics</value>
            </setting>
            <setting name="BhaskarPacklistSavePath" serializeAs="String">
                <value>D:\Packlist\Bhaskar\Unprocessed\</value>
            </setting>
            <setting name="ErrorLog" serializeAs="String">
                <value>D:\Packlist\Errors\</value>
            </setting>
            <setting name="DBConnectionString" serializeAs="String">
                <value>Provider=Microsoft.Jet.OLEDB.4.0;Data Source=\\server\D\Packlist\Inventory.mdb</value>
            </setting>
            <setting name="BhaskarProcessedLocation" serializeAs="String">
                <value>D:\Packlist\Bhaskar\Processed\</value>
            </setting>
            <setting name="KGPacklistSavePath" serializeAs="String">
                <value>\\server\D\Packlist\KG\Unprocessed\</value>
            </setting>
            <setting name="KGProcessedLocation" serializeAs="String">
                <value>\\server\D\Packlist\KG\Processed\</value>
            </setting>
            <setting name="EmailTo" serializeAs="String">
                <value>mayank.gadodia87@gmail.com</value>
            </setting>
            <setting name="EmailFrom" serializeAs="String">
                <value>update.inventory@gmail.com</value>
            </setting>
        </DownloadMailAttachments.Properties.Settings>
    </applicationSettings>
</configuration>